<div class="col-sm-12">
    <center>
        
        <div class="nav-bar">
        <div id="title1">
            AMERICAN EXPRESS
        </div>
        </div>
        <div id="amex-phrase"><img id="amex-logo" src="https://www.seeklogo.net/wp-content/uploads/2018/04/american-express-logo.png" /> DON'T <span id="apply-logo">Live Life</span> WITHOUT IT</div>
        <br>
    </center>
</div>
<div class="col-md-12" id="toprow">
    <div id="step-four-left" class="col-md-3">
        <center>
            <img id="amex-plat2" src="https://icm.aexp-static.com/content/dam/one-amex/benefits/en_us/images/large/ShopSaks.jpg" />
        </center>
    </div>
    <div class="col-md-2">
        <span id="thumbs" class="glyphicon glyphicon-thumbs-up"></span>
    </div>
    <div class="col-md-4">
    
        <img id="amex-plat2" src="https://icm.aexp-static.com/content/dam/one-amex/benefits/en_us/images/large/AirportLoungeAccessProgramOpen.jpg" />
    </div>

</div>
<div class="col-sm-12" id="steptwobackground"> 
    <center>
        
        <br>
        <h1>Congratulations!! You've been approved for The Platinum Card!</h1>
        <br>
    </center>
</div>

<div class="col-sm-12"> 
    <div id="step-two-left" class="col-md-4">
        <center>
    <img id="amex-plat2" src="https://d1a3f4spazzrp4.cloudfront.net/chameleon/cms/uploads/2017/3/29/1490831867-amex__hero.jpg" />
    <img id="amex-plat2" src="https://d1a3f4spazzrp4.cloudfront.net/chameleon/cms/uploads/2017/3/30/1490847066-uber__amex2x.jpg" />
    
    </center>
    </div>
    
    
    
    <div id="step-two-right" class="col-md-4">
    <ul>
        <h3>$200 UBER CREDIT</h3>
Arrive in comfort for less. Enjoy $15 in Uber credits for U.S. rides each month plus a bonus $20 in December1, for a total of up to $200 in annual Uber savings.‡

1 Credit and Uber VIP status available to Basic Card Member only.
    </ul>
    <ul>
        <h3> 5X POINTS ON FLIGHTS & HOTELS</h3>
See more of the world by earning 5X Membership Rewards® points on flights booked directly with airlines or on AmexTravel.com, and eligible hotels booked on AmexTravel.com.‡

Plus, earn 1X points on all other purchases whether you’re paying bills or shopping.
        
    </ul>
    <ul>
        
        <h3>$200 AIRLINE FEE CREDIT</h3>
Take off with up to $200 each year in statement credits towards incidentals like in-flight meals, checked bags and more with your selected qualifying airline.
    </ul>
    </div>
    
</div>